*.{$INTERNAL_DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    header {
        X-Reverse-Proxied-By "Caddy"
    }

    import /etc/caddy/handlers/*
    import /etc/chs/handlers/*

    @hello host hello.{$INTERNAL_DOMAIN}
    handle @hello {
        respond /health-check 200
        respond "Hello world, Served from Caddy!"
    }

    handle {
        abort
    }
}

